.card-section {
  display: flex;
  padding: 1.6rem 3rem;
  box-shadow: 0px 0px 5px #d0cdcd;
  border-radius: 5px;
  border-width: 0.1px;
}

.card-image img {
  height: 100px;
  width: 30px;
}

.card-description {
  padding-left: 50px;
}

.card-bg-light-blue :hover {
  background-color: rgb(233, 239, 247);
}
